@font-face {font-family: LemonMilk; src: url("LemonMilkbold.otf")}
@font-face {font-family: IBMPlexSans-Regular; src: url("IBMPlexSans-Regular.ttf")}


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: radial-gradient(circle closest-side,
    #0085CC, #112D58,  #141621);
}

img {
    transform: scale(2.3);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

a {
    border-radius: 60px;
    background: white;
    border: 2px solid white;
    color: #0085CC;
    padding: 20px; 
    width: 200px;
    height: 150px;
    text-decoration:  none;
    font-family: IBMPlexSans-Regular;
}

#tagline {
    padding-top: 200px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: LemonMilk;
}

#footer {
    text-align: center;
    position:absolute;
    bottom:30px;
    width:100%;
    height:150px;
}